<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <div>
      <h4>Dave Wolfberg</h4>
      <div id="contact">
        <a id="link1" href="https://github.com/Wolfcodes91" target="_blank">
          <img id="githubLogo" src="images/GithubLogo.png" alt="">
        </a>
        <a id="link2" href="https://www.linkedin.com/in/davewolfberg/" target="_blank">
          <img id="linkedInLogo" src="images/linkedin-.png" alt="">
        </a>
        <a id="link3" class="nav-link" href="images/Dave_Wolfberg_Resume_3.pdf" target="_blank">
          <img id="resumeLogo" src="images/ResumeLogo.png" alt="">
        </a>
        <a id="link4" href="mailto:dave.m.wolfberg@gmail.com" target="_blank">
          <img id="gmailLogo" src="images/Gmail.png" alt="">
        </a>
      </div>
    </div>
      <div id="projectsNav">
        <a class="button" href="#about">About Me</a>
        <a class="button" href="#pedalboardbuddy">Pedalboard Buddy</a>
        <a class="button" href="#bottomsup">Bottoms Up!</a>
        <a class="button" href="#wolfbergr">Wolfbergr</a>
        <a class="button" href="#simon">Simon</a>
      </div>
    <div id="thankyou">
      <h4>Thank You!</h4>
    </div>
  </nav>

  <div class="container">
    <section id="about">
      <div id="banner">
        <img id="bannerimg" src="images/Banner.jpeg" alt="">
      </div>
      <div id="blurb">
        <div id="profilePicDiv">
          <img id="profilePic" src="images/IMG_3389.jpg" alt="">
        </div>
        <h3>
          Hi, my name is Dave Wolfberg, I am a full stack web developer.
        </h3>
        <p>
          I am a Software Engineer who worked more than a decade in the music industry
          traveling the world as a Guitarist.
        </p>
        <p>
          Some of my favorite hobbies are eating, meditating, hiking, spending time with my friends, 
          noodling on guitar, and solving puzzles.
        </p>
        <p>
          I fell in love with coding while being home for an extended period of time between tours.
          Striving to make web-development my career so I can deepen my programming skills and knowledge
          as well as meet some cool new friends.
        </p>
        <p>
          It sparks joy for me to build apps with a spirit of whimsy and fun. Please enjoy some of my favorite projects below!
        </p>
      </div>
    </section>

    <section id="pedalboardbuddy">
      <div class="img" id="img1">
        <a href="https://pedalboard-buddy.herokuapp.com/" target="_blank">
          <img class="pics" src="images/Pedalboard Buddy Home.png" alt="">
        </a>
        <h2>Pedalboard Buddy</h2>
        <p class="guestSignIn">Guest sign in - email: guest@PB.com password: password</p>
        <p>Created using MERN stack, React-Beautiful-DND, AWS S3, HTML, CSS, JavaScript</p>
      </div>
      <div id="skills">
        <img class="skillLogos" src="images/MONGOLOGO.png" alt="">
        <img class="skillLogos" src="images/EXPRESS LOGO.png" alt="">
        <img class="skillLogos" src="images/REACT LOGO.png" alt="">
        <img class="skillLogos" src="images/NODE LOGO.webp" alt="">
        <img class="skillLogos" src="images/DND LOGO.png" alt="">
        <img class="skillLogos" id="s3" src="images/S3 LOGO.webp" alt="">
        <img class="skillLogosMult" src="images/LOGOS.png" alt="">
      </div>
      <div id="projectInfo">
        <p class="writeUp">
          <a class="ghLinks" href="https://github.com/Wolfcodes91/Pedalboard-Buddy" target="_blank">Pedalboard Buddy</a> is a drag-and-drop pedalboard builder app I designed for musicians 
          who want to create visual representations of their pedalboards. 
          Pedalboard Buddy allows musicians to create, edit, and delete pedalboards 
          without ever worrying they will forget the layout of a board. Any user has access to all the pedals 
          added by other users or the ability to add/edit/delete their own pedals as well. Checkout Pedalboard Buddy! 
          Add some pedals, make some boards, and most importantly - Have Fun!
        </p>
      </div>
    </section>

    <section id="bottomsup">
      <div class="img" id="img2">
        <a href="https://bottoms-up-app-rad.herokuapp.com/" target="_blank">
          <img class="pics" src="images/BottomsUp.png" alt="">
        </a>
        <h2>Bottoms Up!</h2>
        <p>Created using Django, Python, PostgreSQL, Materialize, TheCocktailDB.com (external API) </p>
      </div>
      <div id="skills">
        <img class="skillLogos" src="images/DJANGO LOGO.jpeg" alt="">
        <img class="skillLogos" src="images/PYTHON LOGO.png" alt="">
        <img class="skillLogos" src="images/POSTLOGO.png" alt="">
        <img class="skillLogos" src="images/MAT LOGO.png" alt="">
      </div>
      <div id="projectInfo">
        <p class="writeUp">
          <a class="ghLinks" href="https://github.com/andrea-s21/bottoms-up-app" target="_blank">Bottoms Up!</a> is a smart cocktail recommendation app that I built with two inspired, wonderful developers 
          - Andrea Sisneros and Raquel Castillo. 
          Bottoms Up! takes a survey about what kind of day you are having and provides 
          a curated drink recommendation from the external cocktail database (TheCocktailDB.com).
          A user can save cocktails they like, create different categories/lists,
          and add their drinks to any and all of their personal categories/lists. 
          Create exciting drink menus for any occasion and clink glasses with your friends - Bottoms Up!
        </p>
      </div>
    </section>

    <section id="wolfbergr">
      <div class="img" id="img3">
        <a href="https://wolfbergr.herokuapp.com/" target="_blank">
          <img class="pics" src="images/Wolfbergr.png" alt="">
        </a>
        <h2>Wolfbergr</h2>
        <p>Created using MEN stack, HTML, CSS, JavaScript</p>
      </div>
      <div id="skills">
        <img class="skillLogos" src="images/MONGOLOGO.png" alt="">
        <img class="skillLogos" src="images/EXPRESS LOGO.png" alt="">
        <img class="skillLogos" src="images/NODE LOGO.webp" alt="">
        <img class="skillLogosMult" src="images/LOGOS.png" alt="">
      </div>
      <div id="projectInfo">
        <p class="writeUp">
          <a class="ghLinks" href="https://github.com/Wolfcodes91/Wolfbergr" target="_blank">Wolfbergr</a> is a visual, virtual, and vegan-approved burger builder app! 
          Build from a list of standard ingredients,
          add any ingredient you can imagine to the custom ingredient list, 
          build your burgers and watch them come to life!
          Add reviews and comments to any burgers on the burger list. 
          Make fun or gross things, review your friends creations, and 
          have lots of fun! 
        </p>
      </div>
    </section>

    <section id="simon">
      <div class="img" id="img4">
        <a href="https://wolfcodes91.github.io/SIMON/" target="_blank">
          <img class="pics" src="images/Simon.png" alt="">
        </a>
        <h2>Simon</h2>
        <p>Created using HTML, CSS, JavaScript</p>
      </div>
      <div id="skills">
        <img class="skillLogosMult" src="images/LOGOS.png" alt="">
      </div>
      <div id="projectInfo">
        <p class="writeUp">
          My personal take on the classic memory game <a class="ghLinks" href="https://github.com/Wolfcodes91/SIMON" target="_blank">Simon.</a> I changed up the colors, 
          and added some extra exciting drum&bass music by Squarepusher to keep the 
          intensity pumping. I have never made it past 13 rounds. How far can you get?
        </p>
      </div>
    </section>
  </div>
</body>

</html>