<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- CSS only -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
  <!-- JavaScript Bundle with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <section class="container">
    <div id="navbar">
      <nav>
        <h3>Dave Wolfberg</h3>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <div id="contact">
          <a id="link1" href="https://github.com/Wolfcodes91" target="_blank">
            <img id="githubLogo" src="images/GithubLogo.png" alt="">
          </a>
          <a id="link2" href="https://www.linkedin.com/in/davewolfberg/" target="_blank">
            <img id="linkedInLogo" src="images/linkedin-.png" alt="">
          </a>
          <a id="link3" class="nav-link" href="images/Dave_Wolfberg_Resume_3.pdf" target="_blank">
            <img id="resumeLogo" src="images/ResumeLogo.png" alt="">
          </a>
          <a id="link4" href="mailto:dave.m.wolfberg@gmail.com" target="_blank">
            <img id="gmailLogo" src="images/Gmail.png" alt="">
          </a>
        </div>
      </nav>
    </div>



    <section id="about">
      <div id="banner">
      </div>
      <div id="blurb">
        <h3>
          Hi, my name is Dave Wolfberg, I am a full stack web developer.
        </h3>
        <p>
          Creative Software Engineer with a long history of artistic endeavors.
          Worked more than a decade in the music industry,
          traveling the world as an integral part of dynamic live music performances.
        </p>
        <p>
          During my travels I cultivated a keen eye for visual beauty, ability to stay calm and collected in high
          pressure situations,
          and drive to deliver the highest quality work under stringent time restrictions.
          I'd be a valuable asset to any development team.
        </p>
        <p>
          I recently fell in love with coding while being home for an extended period of time between tours.
          Hoping to find a position that will allow me to deeping my programming skills and knowledge
          as well as meet some cool new friends.
        </p>
      </div>
      <div id="skills">
        <h1>Skills</h1>
        <div id="sect1">
          <img class="skillLogosMult" src="images/LOGOS.png" alt="">
        </div>
        <div id="sect2">
          <img class="skillLogos" src="images/REACT LOGO.png" alt="">
          <img class="skillLogos" src="images/EXPRESS LOGO.png" alt="">
          <img class="skillLogos" src="images/DJANGO LOGO.jpeg" alt="">
        </div>
        <div id="sect3">
          <img class="skillLogos" src="images/PYTHON LOGO.png" alt="">
          <img class="skillLogos" src="images/MONGOLOGO.png" alt="">
          <img class="skillLogos" src="images/POSTLOGO.png" alt="">
        </div>
      </div>
    </section>
    <section id="projects">
      <div class="img" id="img1">
        <a href="https://pedalboard-buddy.herokuapp.com/" target="_blank">
          <img class="pics" src="images/Pedalboard Buddy Home.png" alt="">
        </a>
        <h4>Pedalboard Buddy</h4>
        <p>Created using MERN stack, React-Beautiful-DND, AWS S3, JavaScript</p>
      </div>
      <div class="img" id="img2">
        <a href="https://bottoms-up-app-rad.herokuapp.com/" target="_blank">
          <img class="pics" src="images/BottomsUp.png" alt="">
        </a>
        <h4>Bottoms Up!</h4>
        <p>Created using Django, Python, Materialize, TheCocktailDB.com (external API) </p>
      </div>
      <div class="img" id="img3">
        <a href="https://wolfbergr.herokuapp.com/" target="_blank">
          <img class="pics" src="images/Wolfbergr.png" alt="">
        </a>
        <h4>Wolfbergr</h4>
        <p>Created using MEN stack, CSS, JavaScript</p>
      </div>
      <div class="img" id="img4">
        <a href="https://wolfcodes91.github.io/SIMON/" target="_blank">
          <img class="pics" src="images/Simon.png" alt="">
        </a>
        <h4>Simon</h4>
        <p>Created using HTML, CSS, JavaScript</p>
      </div>
    </section>
  </section>
</body>

</html>