<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
    <hr>
    <nav>
      <h3>Dave Wolfberg</h3>
      <a href="https://github.com/Wolfcodes91">Github</a>
      <a href="https://www.linkedin.com/in/davewolfberg/">LinkedIn</a>
      <a class="nav-link" href="images/Dave_Wolfberg_Resume_3.pdf" target="_blank">Resume</a>
      <a href="mailto:dave.m.wolfberg@gmail.com">Email Me</a>
    </nav>
    <hr>
    
    <div id="about">
      <h2>About Me</h2>
      <p>Hi, my name is Dave Wolfberg, I am a software engineer</p>
      <h5>Languages</h5>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Python</li>
        </ul>
    </div>
    <hr>
    <h2>Projects</h2>
    <hr>
    <div id="projects">
      <div id="img">
        <a href="https://pedalboard-buddy.herokuapp.com/">
          <img src="images/Pedalboard Buddy.png" alt="">
        </a>
      </div>
      <div id="img">
        <a href="https://bottoms-up-app-rad.herokuapp.com/">
          <img src="images/BottomsUp.png" alt="">
        </a>
      </div>
      <div id="img">
        <a href="https://wolfbergr.herokuapp.com/">
          <img src="images/Wolfbergr.png" alt="">
        </a>
      </div>
      <div id="img">
        <a href="https://wolfcodes91.github.io/SIMON/">
          <img src="images/Simon.png" alt="">
        </a>
      </div>
    </div>
    </section>
    <footer>Thanks for visiting!</footer>
  </body>
</html>
