<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
    <h1><%= title %></h1>
    <nav>
      <a href="https://github.com/Wolfcodes91">Github</a>
      <a href="https://www.linkedin.com/in/davewolfberg/">LinkedIn</a>
      <a class="nav-link" href="images/Dave_Wolfberg_Resume.pdf" target="_blank">Resume</a>
      <a href="mailto:dave.m.wolfberg@gmail.com">Email Me</a>
    </nav>
    <hr>
    <h2>Projects</h2>
    <hr>
    <div id="projects">
      <div id="img">
      <img src="public/images/BottomsUp.png" alt="">
      <a href="https://bottoms-up-app-rad.herokuapp.com/">Bottoms Up!</a>
      </div>
      <div id="img">
      <img src="public/images/Wolfbergr.png" alt="">
      <a href="https://wolfbergr.herokuapp.com/">Wolfbergr</a>
      </div>
      <div id="img">
      <img src="public/images/Simon.png" alt="">
      <a href="https://wolfcodes91.github.io/SIMON/">SIMON</a>
      </div>
    </div>
    </section>
    <hr>
    <footer>Thanks for visiting!</footer>
  </body>
</html>
