body {
  padding: 5vmin;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5vmin;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(grey 20%, transparent 20%),
  radial-gradient(darkgrey 20%, transparent 20%);
  background-color: black;
  background-position: 0 0, 2vmin 2vmin;
  background-size: 4vmin 4vmin;
}

.container {
  width: 100%;
  height: 100%;
  /* css smooth scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

a {
  color: white;
}

a:hover {
  color: purple;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav {
  background-color: rgb(1, 1, 75);
  color: white;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5vmin;
  position: fixed;
  top: 0;
  z-index: 1;
  border: solid 0.2vmin turquoise;
}

#about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  justify-content: center;
  align-items: center;
  grid-auto-rows: 1fr;
}
#blurb{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: antiquewhite;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1vmin;
  margin: 1vmin;
  border-radius: 1vmin;
}

#sect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 1vmin;
  border-radius: 1vmin;
  height: 12vmin;
  padding: 1vmin;
}
#sect2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 1vmin;
  border-radius: 1vmin;
  height: 12vmin;
  padding: 1vmin;
}
#sect3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 1vmin;
  border-radius: 1vmin;
  height: 12vmin;
  padding: 1vmin;
}

footer {
  bottom: 0;
}
h1, h2 {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2vmin;
}

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%
}

.img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

img {
  width: 60vmin;
  height: 35vmin;
  border-radius: 1.5vmin;
}
img:hover {
 border: solid 0.5vmin turquoise;
}

#img1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#img2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#img3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#img4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#contact {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 1vmin;
  padding-bottom: 10vmin;
}

#link1, #link2, #link3, #link4 {
  color: rgb(1, 1, 75);
  background: linear-gradient(rgb(235, 205, 167), beige, black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: solid 1vmin black;
}

#link1 {
  width: 25vmin;
  height: 25vmin;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
#link2 {
  width: 35vmin;
  height: 35vmin;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
#link3 {
  width: 35vmin;
  height: 35vmin;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
#link4 {
  width: 25vmin;
  height: 25vmin;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#link1:hover, #link2:hover, #link3:hover, #link4:hover {
  border: solid 1vmin turquoise;
  text-decoration: underline;
}
